CompileFlags:
  CompilationDatabase: build/

---

If:
  PathMatch: ".*\\.ino"
CompileFlags:
  Add:
    - "--language=c++"
    - "-std=c++17"

Diagnostics:
  Suppress:
    - "pp_including_mainfile_in_preamble"
